body {
    margin: 0;
    padding: 20px 10px;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffccdd, #ffd6e8, #ffeefa);
    text-align: center;
    min-height: 100vh;
}

.content-box {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 25px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(255, 150, 180, 0.5);
    backdrop-filter: blur(5px);
    width: 90%;
    max-width: 600px;
    margin: 20px auto; /* od vrchu a do stredu */
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #a61253;
    text-shadow: 0 0 8px #fff;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #a61253;
}

.heart, .emojis {
    font-size: 2.5rem;
    margin: 20px 0;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

a.button {
    display: inline-block;
    padding: 14px 28px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #a61253;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.3s;
}

a.button:hover { background-color: #ff6699; }

@media (max-width:480px) {
    h1 { font-size: 1.8rem; }
    p { font-size: 1rem; }
    .heart, .emojis { font-size: 2rem; }
    a.button { padding: 12px 20px; font-size: 1rem; }
}
